body, html{
	width:100%;
	height:100%;
	margin:0px;	
}
body{
	background-color:#D3D3D3;	
	background-image:url(bg-001-l.jpg);
	background-size:cover;
	background-position:center;
}
@media(max-width:1000px){
body{	
	background-image:url(bg-001-m.jpg);
}
}
@media(max-width:500px){
body{	
	background-image:url(bg-001-s.jpg);
}
}
#logo{
	position:absolute;
	bottom:20px;
	left:20px;
	z-index:9997;	
	width:200px;
	height:86px;
}
#fb-wrap{
	position:absolute;
	z-index:9999;
	top:20px;
	left:20px;	
}
#container{
	width:100%;
	height:100%;	
	position:relative;
	overflow:hidden;
	z-index:9998;
}